{% extends "base.html" %}

{% block content %}
    <h1>
        Welcome to Microblog
    </h1>
    <hr>
    {% if current_user.is_authenticated and form %}
        <form action="" method="POST">
            <!--
                The form.hidden_tag() template argument generates 
                a hidden field that includes a token that is used 
                to protect the form against CSRF attacks
            -->
            {{ form.hidden_tag() }}

            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<vr>
                {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}  
            </p>
            <p>
                {{ form.submit() }}
            </p>


        </form>
        <hr>        
    {% endif %}
    
    {% for post in posts %}
        <p>
            {% include "_post.html" %}    
        </p>
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}

{% endblock %}
